{% extends 'course-video-comment-base.html' %}
{% block title %}课程章节列表{% endblock %}
{% load staticfiles %}
{% block course-bread %}
    课程章节
{% endblock %}
{% block course_content %}

    <div id="notice" class="clearfix">
        <div class="l"><strong>课程公告:</strong> <a href="javascript:void(0)">{{ notice.statement }}</a></div>
    </div>
    {% for lesson in lessons %}
        <div class="mod-chapters">

            <div class="chapter chapter-active">
                <h3>
                    <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                </h3>
                <ul class="video">
                    {% for video in lesson.get_video %}
                        <li>
                            <a target="_blank" href='#' class="J-media-item studyvideo">{{ video.name }}
                                ({{ video.mins }})
                                <i class="study-state"></i>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

        </div>
    {% endfor %}
{% endblock %}



